version: '3'

services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    expose:
      - "5432"
    ports:
      - "5432:5432"
  redis:
    image: redis
    expose:
      - "6379"
    ports:
      - "6379:6379"
    volumes:
      - ./.redis:/data
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env.dev
    volumes:
      - ./backend/web_api:/app/backend
    ports:
      - "8000:8000"
    depends_on:
      - db
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    command: ["yarn", "start"]
    volumes:
      - ./frontend:/app/frontend
    ports:
      - "3000:3000"
  nginx:
    image: nginx:1.22
    ports: 
      - "80:80"
    volumes:
      - ./nginx:/ect/nginx/conf.d
    depends_on:
      - backend
      - frontend
